<!-- templates/home.html -->
{% extends "main.html" %}
{% load static %}

{% block title %} Project | StoryTech{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projects/project_list.css' %}">
{% endblock %}

{% block content %}

<div class="project-container">
    {% for project in projects %}
    <div class="project-card">
        <div class="card-image">
            {% if project.image %}
                <a href="{{ project.get_absolute_url }}">
                    <img src="{{ project.image.url }}" alt="{{ project.title }}">
                </a>
            {% endif %}
        </div>

        <div class="card-content">
            <h2 class="card-title">
                <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
            </h2>
            <p class="card-discription">{{ project.discription|truncatewords:30 }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}