asgiref==3.10.0
asttokens==3.0.0
black==25.9.0
click==8.3.0
Cython==3.1.6
decorator==5.2.1
dj-database-url==3.0.1
Django==5.0.14
django-crispy-forms==2.5
django-widget-tweaks==1.5.0
executing==2.2.1
gunicorn==23.0.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
mypy_extensions==1.1.0
packaging==25.0
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
psycopg2==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
python-dotenv==1.2.1
pytokens==0.2.0
setuptools==80.9.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
wcwidth==0.2.14
wheel==0.45.1
whitenoise==6.11.0
supabase==1.0.3
requests>=2.31.0
